* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

:root {
    --app-font: 'Inter', sans-serif;
}

body {
    margin-bottom: 60px;
    font-family: var(--app-font);
}

.lock_textarea {
  resize: none;
}
